* {
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.counter-button {
  display: block;
  margin: auto;
  text-align: center;
  position: relative;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-bottom: 6px;
}

.icons-sm {
  position: absolute;
  height: 40px;
  width: 40px;
  opacity: 0;
  z-index: 1;
}

.icons-sm * {
  position: absolute;
}

.icons-sm .fill-1 {
  left: 6px;
  top: 2px;
  fill: #ef5029;
}

.icons-sm .fill-2 {
  right: -5px;
  bottom: 1px;
  fill: #0485ff;
}

.icons-sm .outline-1 {
  top: -4px;
  right: -4px;
  fill: #ff0087;
}

.icons-sm outline-2 {
  left: 3px;
  bottom: 3px;
  fill: #fff;
}

.icons svg {
  fill: #008e95;
}

.outline,
.fill {
  height: 40px;
  width: 40px;
  position: absolute;
}

.fill {
  opacity: 0;
  top: 2px;
}

.count {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.counter-button.clicked .outline {
  animation: outline 1.1s ease forwards;
}

@keyframes outline {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.6);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.counter-button.clicked .fill {
  animation: 0.3s fill 0.6s ease forwards;
}

@keyframes fill {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.counter-button.clicked .icons-sm {
  animation: 0.7s smIcons 0.6s ease forwards;
}

@keyframes smIcons {
  0% {
    transform: scale(0.1);
  }
  25% {
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
